/* GERAIS */
HTML, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
:root {
    --cor-fundo-primaria: rgb(243, 243, 243);
    --cor-fundo-box: rgb(255, 255, 255);
    --cor-links-e-box-continuar: rgb(65, 105, 225);
    --fonte-comum: rgb(112, 128, 144);
    --obter-app: rgb(0, 0, 0);
    --letras-botao-continuar: rgb(255, 255, 255);
}
/* BODY*/
.dark-mode{
    background-color: var(--cor-fundo-primaria);
}
main{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.layout{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}
.instagram-tel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.instagram-tel img{
    height: 50rem;
}
.instagram-continuar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}
.grupo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 2px solid rgb(180 180 180 / 50%);
    padding: 20px;
    margin: 20px;
    background: var(--cor-fundo-box);
    color: slategray;
    position: relative;
}
.instagram-logo img{
    margin: 22px 0 12px 0;
    height: 3rem;
}
.grupo:nth-child(1){
    min-height: 20rem;
}
.minha-foto{
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    margin: 8px 0 16px 0;
    overflow: hidden;
}
.continuar{
    background-color: var(--cor-links-e-box-continuar);
    color: var(--letras-botao-continuar);
    padding: 8px;
    border-radius: 4px;
}
.remover{
    margin: 20px;
    color: var(--cor-links-e-box-continuar);
}
.not-account{
    padding-bottom: 15px;
    color: var(--fonte-comum);

}
.link-azul{
    color: var(--cor-links-e-box-continuar);
    cursor: pointer;
}
.get-app{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    flex-direction: column;
    color: var(--obter-app);
}
.get-app p{
    text-align: center;
    padding-bottom: 10px;
}
.download{
    padding: 5px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
footer{
    text-align: center;
    margin-bottom: 20px;
}
.about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer div p{
    padding: 15px;
}
footer div p a{
    color: var(--fonte-comum);
}
/*      SPECIALS    */
input{
    display: none;
    height: 30px;
    width: 30px;
}
label{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 20px;
    display: block;
    background-color: var(--fonte-comum);
    border-radius: 20px;
    cursor: pointer;
}
label span{
    width: 12px;
    height: 12px;
    display: block;
    background-color:var(--cor-links-e-box-continuar);
    border-radius: 100%;
    transform: translateX(4px);
    margin-top: 3px;
    border: 1px solid rgb(0, 0, 0);
    transition: all ease .5s;
}
.ativar-dark:checked ~ .dark-mode {
    --cor-fundo-primaria: rgb(83, 83, 83);
    --cor-fundo-box: rgb(61, 61, 61);
    --cor-links-e-box-continuar: rgb(65, 225, 172);
    --fonte-comum: rgb(166, 174, 184);
    --obter-app: rgb(255, 255, 255);
    --letras-botao-continuar: rgb(0, 0, 0);
}
.ativar-dark:checked ~ .dark-mode body{
    background-color: var(--cor-fundo-primaria);
}
.ativar-dark:checked ~ .dark-mode .grupo{
    background: var(--cor-fundo-box);
    border: 1px solid white;
}
.ativar-dark:checked ~ .dark-mode .link-azul, .remover{
    color: var(--cor-links-e-box-continuar);
}
.ativar-dark:checked ~ .dark-mode .continuar{
    background-color: var(--cor-links-e-box-continuar);
    color: var(--letras-botao-continuar);
}
.ativar-dark:checked ~ .dark-mode .get-app{
    color: var(--obter-app);
}
.ativar-dark:checked ~ .dark-mode .not-account{
    color: var(--fonte-comum);
}
.ativar-dark:checked ~ .dark-mode .download a img{
    border: 1px solid white;
    border-radius: 6px;
}
.ativar-dark:checked ~ .dark-mode label span{
    transform: translateX(23px);
    transition: all ease .5s;
}
/*       @MEDIA     */
@media screen and (max-width: 768px) {
    .layout{
        width: 80vw;
    }
}
@media screen and (max-width: 425px) {
    .instagram-tel{
        display: none;
    }
    .instagram-continuar{
        width: 80vw;
    }
    .download {
        flex-wrap: wrap;
    }
}
